%div.side
  %div.side__header
    %div.side__header--box
      %p.user__name masa
      = link_to "#", class: "menu" do
        %i.far.fa-edit
        %i.fas.fa-cog
    %div.side__group
      %p.side__group--name techcamp
      %p.side__group--notification まだメッセージがありません